[Unit]
Description=Create and upload backup model %i
Documentation=file:/usr/share/doc/pelcasandra-backup/operations.md
Wants=network-online.target
After=network-online.target
OnFailure=pelcasandra-backup-failure@%n.service

[Service]
Type=oneshot
User=root
Group=root
UMask=0077
EnvironmentFile=/opt/pelcasandra-backup/install.env
EnvironmentFile=-/etc/backup/%i.env
WorkingDirectory=/
ExecStart=/usr/bin/flock --nonblock /run/lock/pelcasandra-backup-%i.lock /usr/local/libexec/pelcasandra-backup/backup perform --trigger %i --config-file /etc/backup/config.rb --no-logfile --no-syslog
TimeoutStartSec=6h
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
PrivateDevices=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
